.head {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    padding: 0;
}

.head ::selection {
    background: #fd9a97;
}

.footer{
  margin-top: 8rem;
  padding: 1%;
  width: 100%;
}

a{
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

a:active {
  color: blue;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

ul {
  list-style-type: none;
  margin-top: 20%;
  padding-left: 0;
}

li {
    margin-bottom: 4%;
}

.aboutBox {
    background: #98bec8;
    color: #FFF;
    text-align: center;
    margin: -110px 50px 0px 50px;
    padding: 50px;
    font-family: LabGrotesque-Regular,Helvetica\ Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    height: 350px;
}

.projectBox {
    background: #3bab87;
    color: #FFF;
    text-align: center;
    margin: -110px 50px 0px 50px;
    padding: 50px;
    font-family: LabGrotesque-Regular,Helvetica\ Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    height: 350px;
}

.blogBox {
    background: #ff5722;
    color: #FFF;
    text-align: center;
    margin: -110px 50px 0px 50px;
    padding: 50px;
    font-family: LabGrotesque-Regular,Helvetica\ Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    height: 350px;
}

.contactBox {
    background: #3f51b5;
    color: #FFF;
    margin: -110px 50px 50px 50px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 50px;
    font-family: LabGrotesque-Regular,Helvetica\ Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    height: 350px;
}

.right {
    background: #ddd;
    float: right;
    margin-left: 30%;
}

.right ::selection {
    background: #1b54d0;
}

.heading {
    margin-left: 40px;
    font-size: 120px;
    font-weight: 800;
    letter-spacing: -0.02em;
    text-align: left;
    z-index: 10;
    position: relative;
    line-height: 0.6em;
    /* pointer-events: none; */
    /* flex: 1 100%; */
}

.noHover:hover {
    color: #000;
}

.mail {
    font-size: 30px;
    color: inherit;
}

.mail:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .head {
        position: relative;
        padding-left: 10px;
        height: 0px;
        width: 100%;
        display: inline-block;
        overflow:visible;
    }

    .footer {
        display: none;
    }

    ul {
        display: none;
    }

    .me {
        display: none;
    }

    .work {
        display: none;
    }

    .hey {
        margin-bottom: -20px;
        padding: 0;
        width: 300px;
    }

    .right {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: -10px;
    }

    .heading {
        font-size: 90px;
        margin-bottom: 100px;
        text-align: center;
    }
}

@media only screen and (max-width: 440px) {
    .aboutBox {
        margin-left: 0px;
        margin-right: 0px;
    }
    .contactBox {
        margin-left: 0px;
        margin-right: 0px;
    }
    .projectBox {
        margin-left: 0px;
        margin-right: 0px;
    }
    .blogBox {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (min-width: 1365px) {
    .right {
        width: 70%;
    }
}
