.head {
    position: fixed;
    overflow: auto;
    background: #000;
    color: #FFF;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    padding: 0;
}

.head ::selection {
    background: #fd9a97;
}

.footer{
    background: black;
    padding: 1%;
    width: 30%;
    position: fixed;
    left: 1;
    bottom: 0;
    color: white;
}

a{
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
    color: #FFF;
}

a:active {
  color: blue;
}

a:hover {
  color: hotpink;
}

ul {
  list-style-type: none;
  margin-top: 20%;
  padding-left: 0;
}

li {
    margin-bottom: 4%;
}

.aboutBox {
    background: #ff5722;
    color: #FFF;
    text-align: center;
    margin: -110px 50px 50px 50px;
    padding: 8%;
    height: 80%;
    font-family: Arial,sans-serif;
    font-size: 14px;
}

.workBox {
    background-image: url(images/cleartax_logo.png);
    background-size: 100%;
    color: #000;
    text-align: center;
    margin: -40px 50px 50px 50px;
    padding: 8%;
    height: 80%;
    font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
}

.projectBox {
    background: #3bab87;
    color: #FFF;
    text-align: center;
    margin: -110px 50px 50px 50px;
    padding: 10%;
    height: 80%;
    font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
}

.projectBoxFirst {
    background-image:  url(images/isdb_logo_app.png);
    background-size: cover;
    color: #000;
    text-align: center;
    margin: -40px 50px 50px 50px;
    padding: 8%;
    padding-top: 4%;
    padding-bottom: 12%;
    height: 80%;
    font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
}

.projectBoxSecond {
    background-image: url(images/tetris_logo_app.png);
    background-size: 100%;
    color: #f9d696;
    text-align: center;
    margin: -40px 50px 50px 50px;
    padding: 8%;
    padding-top: 1%;
    padding-bottom: 28%;
    height: 80%;
    font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
}

.projectBoxThird {
    background-image: url(images/expense_logo_app.png);
    background-size: cover;
    color: #444;
    text-align: center;
    margin: -40px 50px 50px 50px;
    padding: 8%;
    padding-top: 4%;
    padding-bottom: 28%;
    height: 80%;
    font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
}

.blogBox {
    background: #3f51b5;
    color: #FFF;
    text-align: center;
    margin: -110px 50px 50px 50px;
    padding: 8%;
    padding-bottom: 16%;
    height: 80%;
    font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
}

.contactBox {
    background: #5d56eb;
    color: #FFF;
    margin: -110px 50px 50px 50px;
    padding: 12%;
    padding-bottom: 16%;
    height: 80%;
    font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
}

.right {
    background: #FFF;
    overflow: scroll;
    height: 100%;
    width: 70%;
    position: fixed;
    right: 0;
    top: 0;
}

.right ::selection {
    background: #1b54d0;
}

.heading {
    margin-left: 40px;
    font-size: 120px;
    font-weight: 800;
    letter-spacing: -0.02em;
    text-align: left;
    z-index: 10;
    position: relative;
    line-height: 0.6em;
}

.noHover:hover {
    color: #000;
}

.mail {
    font-size: 30px;
    color: inherit;
}

.mail:hover {
    text-decoration: underline;
}

.dropdownMenu {
    display: none;
}

@media only screen and (max-width: 768px) {
    .head {
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
    }

    .footer {
        display: none;
    }

    .hey {
        display: none;
    }

    .right {
        width: 100%;
        margin-top: 10%;
    }

    .heading {
        font-size: 80px;
        margin-bottom: 100px;
        margin-left: 5px;
        text-align: left;
    }

    .aboutBox {
        margin: 0%;
        margin-top: -110px;
        font-size: 13px;
        padding: 12%;
        padding-bottom: 16%;
    }

    .projectBox {
        margin: 0%;
        margin-top: -110px;
        font-size: 13px;
        padding: 12%;
        padding-bottom: 22%;
    }

    .blogBox {
        margin: 0%;
        margin-top: -110px;
    }

    .contactBox {
        margin: 0%;
        margin-top: -110px;
    }

    .workBox {
        margin: 0%;
        margin-top: 10px;
        font-size: 13px;
        padding: 12%;
        padding-bottom: 32%;
    }

    .projectBoxFirst {
        margin: 0%;
        background-size: cover;
        margin-top: 10px;
        font-size: 13px;
        padding: 12%;
        padding-bottom: 32%;
    }

    .projectBoxSecond {
        margin: 0%;
        margin-top: 10px;
        background-size: cover;
        font-size: 13px;
        padding: 12%;
        padding-bottom: 24%;
    }

    .projectBoxThird {
        margin: 0%;
        margin-top: 10px;
        background-size: 170%;
        font-size: 13px;
        padding: 12%;
        padding-bottom: 36%;
    }


    .me {
        display: none;
    }

    ul {
        margin-top: 3%;
        margin-left: -7%;
    }

    li {
        display: inline;
        margin-right: 5%;
    }

    .work {
        display: none;
    }
}

@media only screen and (min-width: 1365px) {
    .right {
        width: 70%;
    }
}
